<!DOCTYPE html>
<html>
  <head>
    <title>Splurty2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--- Navbar Begins --->
    <header class="row">
      <div class="col-3">
        <div class="circle">
          <br />
          YOLO
          <br />
          LOL
          <br />
          OMG
        </div>
      </div>
      <div class="col-4 slogan">
        Splurting out unsolicited advice since 2019.
      </div>
      <div class="col-5 links">
        <%= link_to "About", '#' %>
        <%= link_to "Contribute", '#' %>
      </div>

    </header>
    <hr />
    <br class="clear">
    <!--- Navbar Ends --->

    <!--- Individual Page Content --->
    <div class="container">
      <%= yield %>
    </div>
    <!--- Page Content Ends --->

    <!-- Sticky Footer Begins --->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <%= link_to "This isn't enough, I need more.", '#', class: 'next-quote' %>
          </div>
          <div class="col-6 footer-blurb">
            Proudly hacked by <a href="https://michaelsportfolio.netlify.com/">Michael Handkins</a>
          </div>
        </div>
      </div>
    </div>
    <!--- Sticky Footer Ends --->

  </body>
</html>
